body{
    background-color: yellow;
    color:red;
    font-family: 'Lucida Sans';
    text-align: center;
    

}

#foto{
    border: red solid 5px;
    width: 300px;
    height: 200px;

}
